@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', Arial, sans-serif;
	color:#000;
	background-color: #eee;
/*	font: 16px/18px 'Open Sans', sans-serif;*/
}

#loginBody {
	background-image: url("indigo-sea.jpg");
	background-size: cover;	
}
/*#2C3E50*/

#loginBox {
	background-color: #fff;
	border-radius: 4px;
	width: 400px;
	position: relative;
	margin-left:auto;
	margin-right: auto;
	padding: 15px;
	text-align:center;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	;
}

#loginTable {
	position:relative;
	margin-left:auto;
	margin-right: auto;
}

#loginText, #signUpText {
	text-align: left;
	color: #888;
}
/*#29232D*/
#loginHeader {
	color: #29232D;
	font: 32px/42px 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1;
	opacity: 1;
	position: relative;
	top: 10px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
}

#homepageHeader {
	color: #29232D;
	font: 32px/42px 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1;
	opacity: 1;
	position: relative;
	top: 10px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
	text-align: center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: -5px;
}

a {
	color: #111;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

a:hover {
  text-decoration: underline;
}

#sidebar {
	height: 100%;
	position: fixed;
	left: 15px;
	top: 80px;
	border-top-left-radius:0;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:0;
	width: 200px;
	padding-left: 2px;
	font-size: 14px;
}

#postBox {
	background-color: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	text-align: center;
	width: 540px;
	margin: 10px;
}

#postsTable {
	position: relative;
	margin-left:auto;
	margin-right:auto;
}

#postImage {
	width:540px;
	height:600px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

#postOwner {
	position:relative; 
	text-align: right;
	right: 5px;
	bottom: -5px;
	font-size: 12px;
	color: #666;
}

#postText {
	position:relative; 
	text-align: left;
	left: 7px;
	top: -7px;
	font-size: 14px;
	color: #666;
}

#profileBox {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 540px ;
	height: 600px ;
}

#profileImage {
	width:270px;
	height:300px;
	border-radius:3px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#postDiv {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

#passwordTable {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	text-align: center;
}

#message {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 200px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	text-align: center;
	height: 50px;
	line-height: 25px;
	font-size: 14px;
	padding:5px;
}

/*********************************************/

button, /*input[type=submit]*/
{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	margin: 20px auto;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

button:hover, button:focus, /*input[type=submit]:hover, input[type=submit]:focus*/
{
/*	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
*/}
	
@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active, /*input[type=submit]:active*/
{
	color: #fff;
/*	text-shadow: 0 0 15px rgba(255,255,255,0.6);*/
/*	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);*/
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
	outline: none;
}


/*********************************************************************/


/*
 *
 * btns.css
 * Simple css utilities for building responsive buttons
 * Author: mrmrs
 * License: MIT
 *
 *                */
/* 
  Base .btn class 
  Code:
  <a href="#" class="btn">Default button</a>
*/
.btn, .btn:link, .btn:visited {
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  font-family: avenir, helvetica, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s; }

.btn:hover, .btn:focus {
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

.btn:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; 
outline: none;}

/* 
  Sizes 
  
  Small  = .btn--s
  Medium = .btn--m
  Large  = .btn--l
  Code:
  <a href="#" class="btn btn--s">
  <a href="#" class="btn btn--m">
  <a href="#" class="btn btn--l">
*/
.btn--s {
  font-size: 12px; }

.btn--m {
  font-size: 14px; }

.btn--l {
  font-size: 20px;
  border-radius: 0.25em !important; }

/* 
  Layout utility for responsive buttons 
  Code:
  <a href="#" class="btn btn--full">
*/
.btn--full, .btn--full:link {
  border-radius: 0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%; }

/*
  Skins
  * Black & White
  * Grays
  * Colors
  Code:
  <a href="#" class="btn btn--black">
  <a href="#" class="btn btn--white">
  <a href="#" class="btn btn--gray">
  <a href="#" class="btn btn--gray-dark">
  <a href="#" class="btn btn--gray-border">
  <a href="#" class="btn btn--blue">
*/
/* BLACK & WHITE */
.btn--black, .btn--black:link, .btn--black:visited {
  color: #fff;
  background-color: #000; }

.btn--black:hover, .btn--black:focus {
  color: #fff;
  background-color: #777;
  border-color: #777; }

.btn--black:active {
  color: #fff;
  background-color: #999;
  border-color: #999; }

.btn--black:hover, .btn--black:focus {
  background-color: #444; }

.btn--black {
  background-color: #000; }

.btn--gray:link, .btn--gray:visited {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #555; }

.btn--gray:hover, .btn--gray:focus {
  background-color: #ddd;
  border-color: #ddd;
  color: #444; }

.btn--gray:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444; }

.btn--gray-border:link, .btn--gray-border:visited {
  background-color: #fff;
  border-color: #555;
  border-width: 2px;
  color: #555; }

.btn--gray-border:hover, .btn--gray-border:focus {
  background-color: #fff;
  border-color: #ddd;
  color: #777; }

.btn--gray-border:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444; }

.btn--gray-dark:link, .btn--gray-dark:visited {
  background-color: #555;
  color: #eee; }

.btn--gray-dark:hover, .btn--gray-dark:focus {
  background-color: #333;
  border-color: #333;
  color: #eee; }

.btn--gray-dark:active {
  background-color: #777;
  border-color: #777;
  color: #eee; }

/* BLUES */
.btn--blue:link, .btn--blue:visited {
  color: #fff;
  background-color: #0074D9; }

.btn--blue:hover, .btn--blue:focus {
  color: #fff !important;
  background-color: #0063aa;
  border-color: #0063aa; }

.btn--blue:active {
  color: #fff;
  background-color: #001F3F;
  border-color: #001F3F; }

/* Keep it mobile-first and responsive */
@media screen and (min-width: 32em) {
  .btn--full {
    max-width: 16em !important; } }
